.vs/Example/FileContentIndex
.vs/Example/v17
CQRS/bin
.vs/Hsetu.TimeSheet/FileContentIndex
.vs
CQRS/obj
DTOs/bin
DTOs/obj
Entities/bin
Entities/obj
Mappers/bin
Mappers/obj
Server/bin
Server/obj
Tests/bin
Tests/obj
